# Git
.git
.gitignore
.gitattributes

# IDE
.idea
.vscode
*.swp
*.swo
*~
.project
.classpath
.settings

# Maven
target/
.m2/

# Test reporting
coverage-reports/
failsafe-reports/
surefire-reports/

# Misc
.DS_Store
*.log
.env
.env.example
README.md
HELP.md

# Docker
docker-compose.yml
Dockerfile
.dockerignore

