Stworzyć plik .env w katalogu głównym projektu i dodać do niego następującą linię, zastępując "connection_string_here" odpowiednim ciągiem połączenia do bazy danych NeonDB:

DB_URL=jdbc:postgresql://ep-lively-firefly-ab08ylvg-pooler.eu-west-2.aws.neon.tech/neondb?user=neondb_owner&password=npg_DvmKLnW9k2do&sslmode=require&channelBinding=require


 