Stworzyć plik .env w katalogu głównym projektu i dodać do niego następującą linię, zastępując "connection_string_here" odpowiednim ciągiem połączenia do bazy danych NeonDB:

DB_URL=connection_string_here z NeonDB